body {
  background: linear-gradient(180deg, #2b2356, #1c1440);
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.form-container {
  background: #fff;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  color: #2C3345;
  margin: 0px;
}

p {
  text-align: left;
  color: #2C3345;
}

hr {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  min-width: 100px;
}

.radio-group {
  display: flex;
  gap: 15px;
  align-items: center;
}

button {
  background-color: #2e69ff;
  border-color: #2e69ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  align-self: flex-end;
}

button:hover {
  background-color: #295fe6;
}

h3 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 16px;
}